<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("f6ebcef0-71f8-4208-a55a-c6294b6a51a1");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
